[submodule "wraithsec.github.io"]
	path = wraithsec.github.io
	url = git@github.com:wraithsec/wraithsec.github.io.git
	branch = gh-pages
[submodule "docs"]
	path = docs
	url = git@github.com:wraithsec/wraithsec.github.io.git
	branch = gh-pages
